/*COMMON*/
body {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    min-width: 320px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h2 {
    color: #051e4f;
    font-size: 26px;
    font-weight: 700;
}

p {
    color: #606d8b;
    font-weight: 600;
}

a {
    color: #1b7afe;
    font-weight: 600;
}

.small-wrapper {
    width: 85%;
    max-width: 1000px;
    margin: 0 auto;
}

.section-padding {
    padding-top: 50px;
    padding-bottom: 40px;
}

.section-bg-gray {
    background-color: #f3f5f9;
}

.section-bg-gradient {
    background: rgb(0, 30, 153);
    background: linear-gradient(0deg, rgba(0, 30, 153, 1) 0%, rgba(0, 72, 198, 1) 100%);
    text-align: center;
    color: white;
}

.section-bg-gradient h2 {
    font-weight: 800;
    color: white;
}

.section-intro {
    text-align: center;
}

.section-intro p {
    font-size: 16px;
}

.page-button {
    background-color: white;
    color: #2b89fd;
    font-weight: 600;
    font-size: 16px;
    border: 1px solid #2b89fd;
    border-radius: 5px;
}

.small-info-box {
    margin-bottom: 30px;
}

.small-info-box h3 {
    color: #051e4f;
    font-size: 16px;
    font-weight: 700;
}

.small-info-box p {
    font-size: 14px;
}

.span-a-margin {
    margin-left: 8px;
}

/*HEADER*/
/*nav top*/
.nav-top {
    padding: 20px 0;
}

.nav-logo {
    min-width: 150px;
    max-width: 150px;
}

.nav-top ul {
    line-height: 37px;
}

.nav-top li {
    display: inline-block;
    margin-right: 12px;
}

.nav-top li:last-child {
    margin-right: 0;
}

.nav-top a {
    color: #263b66;
    font-size: 15px;
    font-weight: 600;
}

.nav-top-chevron-down {
    margin-left: 3px;
}

.nav-top a.page-button {
    font-size: 13px;
    color: #2b89fd;
    padding: 7px 10px;
}

.burger-toggle {
    color: #2b89fd;
    font-size: 25px;
}

/*MAIN*/
/*Jumbotron*/
.jumbotron {
    background-image: url("../img/ms-jumbo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0;
}

.jumbotron-text-box h1 {
    color: white;
    font-weight: 600;
}

.jumbotron-text-box p {
    color: #bbcdff;
    font-weight: 500;
}

@media all and (min-width: 768px) and (max-width: 991px) {
    .jumbotron-text-box h1 {
        font-size: 35px;
    }
}

.jumbotron-form-box {
    background-color: white;
    padding: 30px 20px;
    border-radius: 5px;
}

#form-box-call-to-action {
    font-size: 26px;
    font-weight: 700;
    color: #056dff;
    margin-bottom: 15px;
}

.jumbotron-form-btn {
    font-size: 14px;
    font-weight: 700;
    width: 100%;
}

#create-account-btn {
    color: white;
    background-color: #579aff;
    margin-bottom: 7px;
}

#google-sign-up-btn {
    color: #757575;
    background-color: white;
    box-shadow: 2px 1px 3px rgb(211, 211, 211);
    position: relative;
    margin-bottom: 15px;
}

#google-icon {
    width: 5%;
    height: auto;
    position: absolute;
    left: 10px;
}

#terms-of-service {
    font-size: 13px;
    font-weight: 600;
}

#terms-of-service a {
    text-decoration: underline;
}

/*Customers*/
.customers {
    background-color: #f3f5f9;
    padding: 30px 0;
    text-align: center;
}

.customers h3 {
    text-transform: uppercase;
    color: #8d96ad;
    font-size: 15px;
    font-weight: 700;
}

.customers a {
    font-size: 13px;
}

@media all and (max-width: 767px) {
    .customers h3 {
        font-size: 18px;
    }

    .customers a {
        font-size: 15px;
    }
}

@media all and (min-width: 768px) and (max-width: 991px) {
    .customers h3 {
        font-size: 16px;
    }
}

.customers-list-box li {
    display: inline-block;
    width: calc((100% / 6) - 7px)
}

@media all and (max-width: 767px) {
    .customers-list-box li {
        padding: 20px;
        width: calc((100% / 2) - 7px)
    }
}

.customers-list-box img {
    width: 100%;
    height: auto;
}

/*Configuration process*/
#config-process .small-wrapper {
    width: 100%;
    padding-top: 40px;
}

@media all and (max-width: 767px) {
    #config-process .small-wrapper {
        width: 100%;
    }
}

/*ho dato alla ul un nome così generico perché mi smebrava un elemento del layout
che magari potrebbe venir ripetuto o ripreso. Così è facilmente applicabile anche altorve
in caso di cambiamenti grafici del sito*/
.border-ul {
    border-left: 3px solid #cecece;
    padding-top: 10px;
}

.border-ul li {
    padding-left: 8px;
    padding-bottom: 10px;
}

.border-ul a {
    color: #8d96ad;
    font-size: 16px;
}

@media all and (max-width: 767px) {
    #config-process .border-ul {
        margin-bottom: 30px;
    }

    #config-process .small-info-box {
        margin-bottom: 0;
    }
}

/*Image slider section*/
/*For developers section*/
.image-slider-section {
    text-align: center;
}

.image-slider {
    width: 60%;
    margin: 0 auto;
    padding-top: 45px;
    position: relative;
}

@media all and (max-width: 767px) {
    .image-slider {
        padding-top: 90px;
    }
}

.image-slider img {
    width: 100%;
    height: auto;
}

.chevron-absolute {
    position: absolute;
    font-size: 35px;
}

.chevron-left-absolute {
    top: 50%;
    right: 100%;
    margin-right: 20px;
    color: #6f7b97;
}

.chevron-right-absolute {
    top: 50%;
    left: 100%;
    margin-left: 20px;
    color: #031c4e;
}

@media all and (max-width: 767px) {
    .chevron-absolute {
        display: none;
    }
}

.image-slider-sub-text {
    font-weight: 700;
    color: #051e4f;
    padding: 20px 0;
}

.small-circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #006aff;
    border-radius: 50%;
}

.small-circle-coloured {
    background-color: #006aff;
}

/*Business feature section*/
.info-box-container {
    padding-top: 40px;
}

@media all and (max-width: 767px) {
    .info-box-container {
        padding-top: 0;
    }
}

/*Cities service speed section*/
#cities-service-speed-box>.row>[class*="col-"] {
    padding-bottom: 40px;
}

.cities-service-speed-col_content {
    text-align: left;
    padding: 8px 0;
    border-bottom: 1px solid white;
    color: #aebde4;
    font-size: 13px;
}

.city-code {
    color: white;
    font-weight: 600;
}

.cities-service-speed-col_content a {
    color: #00b2c8;
}

@media all and (max-width: 375px) {
    .span-a-margin {
        margin: 0;
    }
}

@media all and (max-width: 350px) {
    .span-a-margin {
        display: none;
    }
}

/*Companies section*/
.company-box {
    background-color: white;
    padding: 50px 0;
    margin-bottom: 30px;
}

.company-box img {
    width: 50%;
    height: auto;
    margin: 0 auto;
}

.company-box a {
    display: block;
    padding: 25px 0;
    font-weight: 600;
}

.company-quote p {
    font-size: 18px;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 10px;
}

.company-box .image-slider-sub-text {
    padding: 0;
}

/*Call to action section-*/
.call-to-action .page-button {
    margin-top: 25px;
}